################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/EviCRM/obj
/EviCRM/appsettings.Development.json
/EviCRM.Alexandra/obj
/EviCRM.Alexandra.TsrClient/obj
/EviCRM.Core.Db/obj
/EviCRM.Core.DomainCore/obj
/EviCRM.Core.IntegrationService/obj
/EviCRM.Core.IO/obj
/EviCRM.IntegrationServiceClient/obj
/EviCRM.Landing/obj/Debug/net6.0
/EviCRM.Portal/obj
/EviCRM.WelcomePage/obj
EviCRM/appsettings.json
EviCRM/bin/Debug/net6.0/appsettings.Development.json
EviCRM/bin/Debug/net6.0/appsettings.json
EviCRM/appsettings.json
*.json
EviCRM.Landing/obj/EviCRM.Landing.csproj.nuget.dgspec.json
EviCRM.Landing/obj/EviCRM.Landing.csproj.nuget.g.props
EviCRM.Landing/obj/project.assets.json
EviCRM.Landing/obj/project.nuget.cache
/EviCRM.Alexandra/bin/Debug/net6.0/EviCRM.Alexandra.dll
/EviCRM.Alexandra/bin/Debug/net6.0/EviCRM.Alexandra.pdb
/EviCRM.Alexandra.TsrClient/bin/Debug/net6.0/EviCRM.Alexandra.TsrClient.dll
/EviCRM.Alexandra.TsrClient/bin/Debug/net6.0/EviCRM.Alexandra.TsrClient.pdb
/EviCRM.Core.DomainCore/bin/Debug/net6.0/EviCRM.Core.DomainCore.dll
/EviCRM.Core.DomainCore/bin/Debug/net6.0/EviCRM.Core.DomainCore.pdb
/EviCRM.Core.IO/bin/Debug/net6.0/EviCRM.Core.InputOutput.dll
/EviCRM.Core.IntegrationService/bin/Debug/net6.0/EviCRM.Core.IntegrationService.dll
/EviCRM.Core.IntegrationService/bin/Debug/net6.0/EviCRM.Core.IntegrationService.pdb
/EviCRM.IntegrationServiceClient/bin/Debug/net6.0/EviCRM.IntegrationServiceClient.dll
/EviCRM.Core.IO/bin/Debug/net6.0/EviCRM.Core.InputOutput.pdb
/EviCRM.IntegrationServiceClient/bin/Debug/net6.0/EviCRM.IntegrationServiceClient.pdb
/EviCRM.Landing/bin/Debug/net6.0/EviCRM.Landing.pdb
/EviCRM.Landing/bin/Debug/net6.0/EviCRM.Landing.dll
/EviCRM.WelcomePage/bin/Debug/net6.0/EviCRM.WelcomePage.dll
/EviCRM.WelcomePage/bin/Debug/net6.0/EviCRM.WelcomePage.pdb
/EviCRM.Portal/bin/Debug/net6.0/EviCRM.Portal.dll
/EviCRM.Portal/bin/Debug/net6.0/EviCRM.Portal.pdb
/EviCRM.Landing/obj/project.assets.json
/EviCRM.Landing/obj/project.nuget.cache
/EviCRM.Landing/obj/EviCRM.Landing.csproj.nuget.g.props
/EviCRM.Landing/obj/EviCRM.Landing.csproj.nuget.dgspec.json
/EviCRM.Landing/obj/Release/net6.0/EviCRM.Landing.GeneratedMSBuildEditorConfig.editorconfig
/EviCRM.Landing/obj/Release/net6.0/EviCRM.Landing.assets.cache
*.cs
