################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/EviCRM/obj
/EviCRM/appsettings.Development.json
/EviCRM.Alexandra/obj
/EviCRM.Alexandra.TsrClient/obj
/EviCRM.Core.Db/obj
/EviCRM.Core.DomainCore/obj
/EviCRM.Core.IntegrationService/obj
/EviCRM.Core.IO/obj
/EviCRM.IntegrationServiceClient/obj
/EviCRM.Landing/obj/Debug/net6.0
/EviCRM.Portal/obj
/EviCRM.WelcomePage/obj
EviCRM/appsettings.json
EviCRM/bin/Debug/net6.0/appsettings.Development.json
EviCRM/bin/Debug/net6.0/appsettings.json
EviCRM/appsettings.json
*.json
EviCRM.Landing/obj/EviCRM.Landing.csproj.nuget.dgspec.json
EviCRM.Landing/obj/EviCRM.Landing.csproj.nuget.g.props
EviCRM.Landing/obj/project.assets.json
EviCRM.Landing/obj/project.nuget.cache
